.cabecalho {
    align-items: flex-end;
    background: url(../../images/cabecalho.jpg) no-repeat center / cover;
    display: flex;
    justify-content: center;
    width: 100%;
}
@media screen and (min-width: 0) {
    .cabecalho{
        height: 200px;
    }
}
@media screen and (min-width: 768px) {
    .cabecalho{
        height: 400px;
    }
}