.resumo__titulo {
    
    font-family: 'Tai Heritage Pro', sans-serif;
    font-weight: 600;
    color: #3b444b;
    margin-bottom: 20px;
}
@media screen and (min-width: 0) {
    .resumo__titulo{
        font-size: 25px;
    }
}
@media screen and (min-width: 768px) {
    .resumo__titulo{
        font-size: 40px;
    }
}