.destino {
    background-color: #fdfdfd;
    display: flex;
    height: 400px;
    width: 100%;
}
@media screen and (min-width: 0) {
    .destino__imagem__direita {
        order: 1;
    }
    .destino__elementos__esquerda {
        order: 2;
    }
    .destino {
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
}
@media screen and (min-width: 768px) {
    .destino__imagem__direita {
        order: 2;
    }
    .destino__elementos__esquerda {
        order: 1;
    }
    .destino {
        flex-direction: row;
    }
}