.destino__elementos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
@media screen and (min-width: 0) {
    .destino__elementos{
        width: 80%;
    }
}
@media screen and (min-width: 768px) {
    .destino__elementos{
        width: 50%;
    }
}