.sugestoes__descricao {
    font-size: 15px;
    font-family: 'Tai Heritage Pro', sans-serif;
    font-weight: 600;
    color: rgb(160, 160, 160, 0.8);
    margin-bottom: 20px;
    text-align: center;
}