.sugestoes__formulario {
    display: flex;
    flex-direction: column;
    
}
@media screen and (min-width: 0) {
    .sugestoes__formulario {
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        width: 80%;
    }
}
@media screen and (min-width: 768px) {
    .sugestoes__formulario {
        width: 50%;
    }
}