.rodape {
    background-color: #d3d3d3;
    display: flex;
    height: 100px;
}
.redes{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
    margin-left: 40px;
    width: 100px;
}
.rede__titulo{
    color: #3b444b;
    font-family: 'Tai Heritage Pro', sans-serif;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 10px;
}
.rede__icone{
    width: 20px;
    margin: 0 3px;
}
.rodape__contato{
    color: #3b444b;
    font-size: 15px;
    font-family: 'Tai Heritage Pro', sans-serif;
    font-weight: 800;
    padding-bottom: 40px;
    padding-right: 40px;
}
@media screen and (min-width: 0) {
    .rodape {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .rodape__contato{
        padding-bottom: 10px;
        padding-right: 0px;
    }
    .redes{
        margin-left: 0;
    }
}   
@media screen and (min-width: 500px) {
    .rodape {align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;
    }
    .rodape__contato{
        padding-right: 40px;
        padding-bottom: 40px;
    }
    .redes{
        margin-left: 40px;
    }

    
}